
img{
    margin-left: 10px;
    margin-bottom: 5px;
}

table{
    height:100px;
    width:700px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

tr.TabelaImpressao{
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    text-align: left;
    padding: 8px;
    background-color: #dddddd;
}

td.TdImpressao{
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
}

